<div>
    <h2>Lista de Usuarios</h2>
    <form autocomplete="off" [formGroup]='formSearch' (ngSubmit)='search()' #f='ngForm'>
        <label for="name" class="col-form-label">Search Box: </label>
        <input type="text" id="name" class="form-control" placeholder="Ingrese un nombre..." formControlName='name' [(ngModel)]='name'>
        <button type="submit" class="btn btn-primary">OK</button>
    </form>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Login name</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of peopleList">
                <td>{{user.id}}</td>
                <td>{{user.login}}</td>
                <td>
                    <div class="row">
                        <button class="btn btn-outline-primary col-4" (click)='getUserDetail(user.login)'>VER</button>
                        <button class="btn btn-outline-secondary col-4">EDIT</button>
                        <button class="btn btn-outline-danger col-4">DELETE</button>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>